.App {
    text-align: center;
}
  
.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.Login {
    width: 600px;
    text-align: center;
    margin: 0 auto;
}

.submit {
    margin-top: 5px;
}

.avatar {
    height: 50px;
    border-radius: 25px;
    margin: 10px;
}