.App {
    text-align: center;
}
  
.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.Login {
    width: 600px;
    text-align: center;
    margin: 0 auto;
}

.submit {
    margin-top: 5px;
}

.pollButton {
    margin-top: 25px;
}

.avatar {
    height: 130px;
    border-radius: 25px;
    margin: 10px;
    float: left;
}

.card {
    width: 600px;
    margin: auto;
    margin-top: 20px;
}

.nav {
    margin: 5px;
}